pre {
    background: #272822;
    color: #f8f8f2;
    padding: 15px;
}

pre .keyword, pre .annotation { color: #FE9720; }
pre .constant  { color: #f92682; }
pre .number  { color: rgba(255, 88, 206, 1); }

pre .variable { color: #3d6d7d; }
pre .variable.property { color: #66d9ef; }

pre .string { color: #A7E22E }

pre .comment { color: #76715E}

pre .symbol { font-weight: bold; }