// colors:
$foreground: #333;
$background: #f8f8f8;

pre.keylighter {
  background: $background;
  padding:    0.5em;

  .language,
  .expression,
  .tag { color: $foreground; font-weight: normal; }

  .comment {
    color: #555;
    &.docblock { color: #666 }
  }

  .constant.special,
  .call,
  .number,
  .call { color: #0086b3 }

  .variable {
    color: #008080;
    &.property { color: lighten(#008080, 5%); }
  }

  .keyword,
  .operator,
  .symbol.selector.id,
  .call.preprocessor,
  .docblock .annotation {
    color: #a71d5d;
  }

  .symbol, .tag .attribute {
    color: #458;
  }

  .string {
    color: #183691;
  }

  .symbol.tag {
    color: #63a35c;
  }

  .constant { color: #990073; }
  .preprocessor {
    color: #999;
    font-weight: bold;
  }

  .format.bold      { font-weight: bold }
  .format.italics   { font-style: italic }
  .format.strike    { text-decoration: line-through }
  .format.underline { text-decoration: underline }

  .format.monospace,
  .format.block.code { color: $foreground }
}
