@import "utils";

// colors:
$foreground: #333;
$background: #f8f8f8;

pre.#{$kl-class} {
  background: $background;
  padding:    0.5em;

  #{token('language', 'expression', 'tag')} { color: $foreground; font-weight: normal; }
  #{token('comment')} { color: #555 }
  #{token('commend#{token('docblock')}')} { color: #666 }

  #{token('constant.special', 'number', 'call')} { color: #0086b3 }

  #{token('variable')} { color: #008080; }
  #{token('variable.property')} { color: lighten(#008080, 5%); }

  #{token('keyword', 'operator', 'symbol.selector.id', 'call.preprocessor')},
  #{token('docblock')} #{token('annotation')} { color: #a71d5d; }

  #{token('symbol.tag')} { color: #63a35c; }
  #{token('symbol', 'tag')} #{token('attribute')} { color: #458; }

  #{token('string')} { color: #183691;}
  #{token('constant')} { color: #990073; }

  #{token('preprocessor')} {
    color: #999;
    font-weight: bold;
  }

  #{token('format.bold')}      { font-weight: bold }
  #{token('format.italics')}   { font-style: italic }
  #{token('format.strike')}    { text-decoration: line-through }
  #{token('format.underline')} { text-decoration: underline }

  #{token('format.monospace', 'format.block.code')} { color: $foreground }
}
