@import "utils";

// colors:
$foreground: #737373;
$background: #F5F6FF;

$color-variable: #336699;
$color-call:     #793962;
$color-keyword:  #669940;

pre.#{$kl-class} {
  background: $background;
  padding:    0.5em;

  #{token('language', 'expression', 'tag')} { color: $foreground; font-weight: normal; }

  #{token('comment')}          { color: #4F5B94; }
  #{token('comment.docblock')} { color: #475484 }

  #{token('constant.special', 'call')} { color: $color-call }

  #{token('number')} { color: #F89721; }
  #{token('string')} { color: #c33; }

  #{token('variable')} { color: $color-variable; }
  #{token('variable.property')} { color: lighten($color-variable, 10%); }

  #{token('keyword', 'operator', 'symbol.selector.id', 'call.preprocessor')},
  #{token('docblock')} #{token('annotation')} {
    color: $color-keyword;
  }

  #{token('symbol')}, #{token('tag')} #{token('attribute')} {
    color: darken($color-call, 10%);
  }

  #{token('symbol.tag')} {
    color: $color-keyword;
  }

  #{token('constant')} { color: lighten($color-call, 10%); }
  #{token('preprocessor')} {
    color: #999;
    font-weight: bold;
  }

  #{token('delimiter')} {
    color:  #458;
    font-weight: bold;
  }

  #{token('format.bold')}      { font-weight: bold }
  #{token('format.italics')}   { font-style: italic }
  #{token('format.strike')}    { text-decoration: line-through }
  #{token('format.underline')} { text-decoration: underline }

  #{token('format.monospace', 'format.block.code')} { color: $foreground }
}
