<phpunit
    bootstrap="./vendor/autoload.php"
    beStrictAboutTestsThatDoNotTestAnything="false"
>
    <testsuites>
        <testsuite name="KeyLighter">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./Formatter/</directory>
            <directory suffix=".php">./Matcher/</directory>
            <directory suffix=".php">./Parser/</directory>
            <directory suffix=".php">./Utils/</directory>
            <directory suffix=".php">./Language/</directory>
            <file>./KeyLighter.php</file>
            <exclude>
                <file>./Formatter/DebugFormatter.php</file>
                <file>./Utils/Console.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
